/* #logo {
  width: 450px;
} */
input[type="radio"] {
  width: 20px;
  height: 20px;
}

.file-upload-preview-img {
  object-fit: contain;
}

.phq-rating-wrapper {
  display: block;
  position: relative;
}

.mask-phq-rating {
  position: absolute;
  bottom: 4rem;
  right: 50%;
}

@media screen and (min-width: 500px) {
  #logo {
    width: 450px;
  }
}

textarea {
  text-indent: 0.5rem;
}
